* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

h2 {
    margin: 0;
    text-align: center;
}

ul {
    -webkit-padding-start: 0;
}

li {
    list-style: none;
    text-align: center;
    border: solid 1px grey;
    padding: 4px 2px;
    cursor: pointer;
    display: block;
}

li:hover {
    background-color: #c2c7ca;
    transform: scale(1.1);
}

p {
    font-size: 8px;
    text-align: center;
    padding-left: 10px;
}

.container-fluid {
    height: 100%;
    padding: 0;
    background-color: #89ad93;
}

.searchCon {
    float: left;
    display: inline;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    margin-bottom: 20px;
}

#map {
    box-shadow: 0 0 40px black;
}

#search {
    margin: 10px;
    z-index: 10;
    height: 20px;
    padding: 5px;
    border: solid 1px #000;
    width: 50%;
    display: inline;
}

.btn-primary {
    border-radius: 5px;
    float: left;
    display: inline;
}

#error {
    position: fixed;
    top: 350px;
    left: 5%;
    width: 20%;
}


/**********DROPDOWN MENU***********/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 30px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ================================
media queries
======================= */

@media only screen and (min-width: 320px) {
    #map {
        height: 77%;
    }
    .container-fluid h2 {
        margin: 5px auto;
        float: left;
        display: block;
        width: 100%;
        padding: 2px;
        font-size: 1.5em;
        align-content: center;
    }
    .searchCon {
        display: inline;
        width: inherit;
    }
    #map {
        clear: both;
    }
    #search {
        height: 20%;
    }
    .btn-primary {
        border-radius: 5px;
        float: right;
        display: inline;
        position: relative;
        top: .6em;
        left: 2em;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media only screen and (min-width: 767px) {
    .container-fluid h2 {
        padding: 5px 0;
    }
    #map {
        margin: 0 auto;
        height: 77%;
        padding: 0;
        width: 80%;
    }
    #search {
        margin: 10px;
        z-index: 10;
        height: 20px;
        padding: 5px;
        border: solid 1px #000;
        width: 50%;
        display: inline;
    }
}
