html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
ul{

    margin-right:0;
    -webkit-padding-start: 0;
}
li{
    list-style: none;
    border: solid 1px #c69;
    padding: 4px 2px;
    cursor: pointer;
    display:block;
    margin-right:0;
}

#container {
    height: 100%;
    width: 100%;
    padding:0;
}

#map {
    height: 100%;
    width:100%;
    padding-left:0;
    position:absolute;
}

.searchCon {
    margin-top:20px;
    border:solid 1px #c69;
   position:fixed;
    z-index: 5;
}



#search{
    margin: 10px 0;
    height: auto;
    border: solid 1px #000;

}

#error {
    position: fixed;
    top: 350px;
    left: 5%;
    width: 20%;
}


